
.navbar {
    background-color: #B41F3A;
    padding-top: 0.7rem;
}

.navbar-nav a {
    font-size: 27px;
    margin-left: 40px;
    color: whitesmoke;
    font-weight: 500;
}

.navbar-light .navbar-brand {
    font-size: 40px;
    color: whitesmoke;
    font-weight: bold;
}
