
.container-hotels {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    margin-top: 50px;
    box-shadow: rgba(41, 41, 41, 0.3) 0px 6px 12px -1px, rgba(45, 45, 45, 0.5) 2px 3px 7px 3px;  
}

.card-link {
    font-weight: bold;
}

