

.footer {
    margin-top: 250px;
    margin-bottom: 30px;
}

.footer a {
    color: #333;
}

.container-footer {
    display: flex;
    margin: auto;
    max-width: 700px;
}

.about h3 {
    border-bottom: solid #023d8f;
    border-width: 7px;
    font-size: 20px;
}

.about span, .pages span {
    background-color: #023d8f;
    color: #fff;
    padding: 2px 15px;
    letter-spacing: 3px;
}

.pages {
    margin-left: 200px;
}

.about p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.pages h3 {
    border-bottom: solid #023d8f;
    border-width: 7px;
    width: 200px;
    font-size: 20px;
}

.pages li {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.socials {
    text-align: center;
    padding: 50px 0;
}

.socials ul {
    display: flex;
    align-content: center;
    margin: auto;
    max-width: 210px;
}

.socials a {
    color: #333;
}

.socials li {
    font-size: 35px;
    padding: 0 22px;
}

.copyright {
    text-align: center;
    margin-bottom: 10px;
}
.copyright p {
    padding: 2px;
    opacity: 90%;
}


@media (max-width:1000px) {

    .pages {
        margin-left: 30px;
    }
}

@media (max-width:750px) {

    .socials {
        padding: 30px 0;
    }
    
    .socials h4 {
        font-size: 14px;
    }

    .socials li {
        font-size: 30px;
        padding: 0 20px;
    }

    .socials ul {
        max-width: 195px;
    }


    .container-footer {
        width: 90%;
    }

    .copyright p {
        font-size: 12px;
    }

    .pages h3 {
        width: 130px;
        font-size: 16px;
        border-width: 8px;
    }

    .pages li {
        font-size: 15px;
    }

    .about h3 {
        font-size: 16px;
        border-width: 8px;
    }

    .about p {
        font-size: 14px;
    }

    .footer {
        margin-bottom: 50px;
    }
}