.container-tabs {
    display: flex;
    justify-content: center;
}

.nav-item {
    font-size: 26px;
    margin-bottom: -2px;
}

.nav-tabs .nav-link.active {
    color: white;
    background-color: #085c9c;
    border: none;
}

.nav-tabs {
    border-bottom: solid#085c9c 15px;
    border-bottom-left-radius: 2px;
}

.nav-tabs .nav-link {
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    color: #333;
}

.create-hotel-form form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 20px;
}

.card-admin .card-text {
    padding-bottom: 20px;
    padding-top: 10px;
}

.button-delete button {
    display: inline-block;
    padding: 0.25em 1em;
    border: 0.2em solid #ed0404;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    font-weight: 700;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
}
.button-delete button:hover {
    color: #000000;
    background-color: #ff0000;
}

.tab-content .card {
    margin-top: 20px;
}

.dropdown p {
    padding: 3px;
    color: white;
}

.dropdown-menu {
    background-color: #565e64;
}
