
.thumbnail  {
    max-width: 1100px;
    height: auto;
    margin: auto;
    position: relative;
}

.thumbnail img {
    filter: brightness(70%);
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.caption h2 {
    font-size: 35px;
    letter-spacing: 1px;
}
.caption p {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

.button {
  position: relative;
  display: inline-block;
}

.button a {
  background-image: linear-gradient(to right, #0966a8 0%, #12D8FA  70%, #1FA2FF  100%);
  max-width: 200px;
  margin: 10px;
  padding: 12px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 5px rgb(167, 164, 164);
  border-radius: 5px;
  display: block;
  border: none;
  font-weight: 700;
  font-size: 20px;
}

.button a:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

@media (max-width:900px) {

  .caption h2 {
      font-size: 30px;
  }
  .caption p {
      font-size: 20px;
  }
  .button a {
    padding: 10px 12px;
    font-size: 18px;
  }
}

@media (max-width:650px) {
  .caption h2 {
    font-size: 22px;
  }
  .caption p {
    font-size: 16px;
  }
  .button a {
    padding: 5px 8px;
    font-size: 15px;
  }

}

@media (max-width:500px) {
  .caption h2 {
    font-size: 18px;
  }
  .caption p {
    font-size: 14px;
  }
  .button a {
    padding: 5px 8px;
    font-size: 13px;
    margin: 2px;
  }

}
@media (max-width:400px) {
  .caption h2 {
    font-size: 15px;
  }
  .caption p {
    font-size: 11px;
  }
  .button a {
    padding: 3px 5px;
    font-size: 10px;
    margin: 2px;
  }

}