@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import "/styles/modules/NavBar.module.scss";
@import "/styles/modules/HeroBanner.module.scss";
@import "/styles/modules/Footer.module.scss";
@import "/styles/modules/Hotels.module.scss";
@import "/styles/modules/SearchBar.module.scss";
@import "/styles/modules/LoginForm.module.scss";
@import "/styles/modules/Admin.module.scss";


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
body {
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
    background-color: #fefefe;
}
  
ul {
    list-style-type: none;
}
  
a {
    text-decoration: none;

}
  
h1,
h2 {
    font-weight: bold;
    line-height: 1.2;
}
  
p {
    margin: 0;
}
  
img {
    width: 100%;
}


// icons front page

.section-one-icons {
    padding-bottom: 50px;
    padding-top: 30px;
    max-width: 1100px;
    margin: auto;
}

.container-one {
    max-width: 700px;
    background-color: #023d8f;
    border-radius: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.section-one-icons h2 {
    color: white;
    font-size: 35px;
    padding-top: 30px;
}

.flexbox-one {
    display: flex;
    margin: auto;
    max-width: 1100px;
    color: white;
}

.flexbox-one svg {
    font-size: 50px;
    text-align: center;
}

.flexbox-one p {
    text-align: center;
    font-weight: bold;
}

.section-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-right: 50px;
    color: white;
}

// Header js component

.headers {
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.hotel-headers h1 {
    max-width: 1100px;
    margin: auto;
}


@media (max-width: 1000px) {
    .section-one-icons {
        width: 60%;
        margin: auto;
    }
    .section-icons {
        margin-right: 20px;
    }
    .section-one-icons h2 {
        font-size: 25px;
        text-align: center;
    }
    .container-one {
        padding-left: 0;
    }
    .flexbox-one {
        justify-content: center;
    }
    .flexbox-one svg {
        font-size: 35px;
    }
    .flexbox-one p {
        font-size: 14px;
    }

    .hotel-headers {
        text-align: center;
    }
}
@media (max-width: 800px) {

    .section-one-icons {
        width: 80%;
        padding-bottom: 10px;
    }
    .section-one-icons h2 {
        font-size: 20px;
        text-align: center;
    }
    .flexbox-one svg {
        font-size: 30px;
    }
    .flexbox-one p {
        font-size: 12px;
    }
}
@media (max-width: 500px) {
    .section-icons {
        margin-right: 0px;
        padding: 5px;
    }
    .section-one-icons h2 {
        font-size: 18px;
        text-align: center;
    }
    .flexbox-one svg {
        font-size: 25px;
    }
    .flexbox-one p {
        font-size: 10px;
    }
}

